<div class="box">
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center  p-5 rounded bg-light">
    <h1>Gracias! Estaremos en contacto en las proximas 25 horas!!!</h1>
    <a href="/formulario" class="btn btn-danger">Volver al  formulario</a>
  </div>
</div>

</div>
