<div class="box">

<div class="position-fixed top-50 d-flex">
  <label for="help-icon">
    <i class="mx-3 bi bi-question-circle-fill text-primary display-4  position-relative"></i>
  </label>
  <input type="checkbox" class="position-absolute" name="" id="help-icon">
  <div class="info mx-3 p-2 bg-light rounded w-50">
    <p>Este servicio esta al alcance de toda mujer que este por una situacion de violencia, evitando tanto el papeleo
      como cuidando la discrecion de hacer una querella. Para llenar los datos necesarios haga click en el boton 
      rojo que dice : "Llenar formulario" y luego siga las instrucciones.
    </p>
    <p>
      Si necesita ayuda inmediata o intervencion policial, llame al 911. Para mas informacion llamar al *#789456132*.
      <span class="text-danger"> *Solo usar en casos de emergencia, puede ser solicitado por la agredida o un testigo cercano del hecho.</span>
    </p>
  </div>

</div>
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center  p-5 rounded bg-light">
    <h1>No te dejes poner la mano!</h1>
    <h5>Haz tu denuncia online</h5>
    <a href="/formulario" class="btn btn-danger">Llenar formulario</a>
  </div>
</div>

</div>
